@import "smart-grid";

@include reset();

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

$grayLight: #999;
$gray: #666;
$grayDark: #333;
$buttonColor: #49924D;

body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  @include wrapper;
  background-color: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 30px;

  form {
    display: flex;
    flex-wrap: wrap;
    color: $grayLight;

    .item {
      @include col;
      @include size(6);

      @include md-block {
        @include size(10);
        @include shift(1);
      }

      @include sm-block {
        @include size(12);
        @include shift(0);
      }

      .title {
        padding: 10px 0;
        font-size: 18px;
        font-weight: 600;
      }

      .card {
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 210px;
        border-radius: 15px;
        background-color: #fff;
        box-sizing: border-box;
        box-shadow: 0 10px 40px #ccc;
        padding: 15px 30px;
        margin: 0 auto;
        color: $gray;
        font-size: 13px;
        font-weight: 600;

        input {
          outline: none;
          border: none;
          border-bottom: 1px solid $grayDark;
          font-size: 20px;
          color: $grayDark;

          &::placeholder {
            color: $grayDark;
            text-align: center;
          }

          &:focus {
            border-color: $buttonColor;
          }

          &[type=number],
          &[type=number]::-webkit-outer-spin-button,
          &[type=number]::-webkit-inner-spin-button {
            -moz-appearance:textfield;
            -webkit-appearance: none;
            margin: 0;
          }
        }

        &-top {
          display: flex;
          flex-direction: column;
          flex-basis: 50%;

          .brand {
            text-align: right;
            img {
              margin-right: -15px;
              height: 100%;
            }
          }

          .number {
            margin-top: auto;

            input {
              width: 100%;
            }
          }
        }

        &-bottom {
          display: flex;
          align-items: center;
          flex-basis: 50%;

          input {
            width: 55px;
            text-align: center;
          }

          .date {
            width: 65%;

            p {
              line-height: 24px;
            }
          }

          .cvv {
            p {
              line-height: 22px;

              .question {
                display: inline-block;
                width: 22px;
                height: 22px;
                border: 1px solid $gray;
                border-radius: 50%;
                font-size: 16px;
                text-align: center;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .form-group {
      margin-top: 15px;
      font-weight: 600;
      color: $grayLight;

      > div {
        position: relative;

        span {
          position: absolute;
          font-size: 20px;
          top: 9px;
          right: 10px;
        }
      }

      label {
        font-size: 14px;

        span {
          display: inline-block;
          width: 22px;
          height: 22px;
          border: 1px solid $grayLight;
          border-radius: 50%;
          font-size: 16px;
          text-align: center;
          cursor: pointer;
        }
      }

      input {
        padding: 10px 15px;
        background-color: white;
        box-sizing: border-box;
        border: 1px solid #ddd;
        outline: none;

        &[type=number],
        &[type=number]::-webkit-outer-spin-button,
        &[type=number]::-webkit-inner-spin-button {
          -moz-appearance:textfield;
          -webkit-appearance: none;
          margin: 0;
        }

        &[type=submit] {
          border: none;
          text-align: center;
          color: #fff;
          background-color: $buttonColor;
          cursor: pointer;
        }

        &:not([type=checkbox]) {
          width: 100%;
        }

        &::placeholder {
          color: $grayLight;
        }
      }

      textarea {
        padding: 10px 15px;
        margin-top: 5px;
        background-color: white;
        box-sizing: border-box;
        border: 1px solid #ddd;
        outline: none;
        width: 100%;
        resize: none;
        display: none;
      }
    }
  }
}