@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic");

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapper form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  color: #999;
}

.wrapper form .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
}

.wrapper form .item .title {
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
}

.wrapper form .item .card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  height: 210px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 10px 40px #ccc;
          box-shadow: 0 10px 40px #ccc;
  padding: 15px 30px;
  margin: 0 auto;
  color: #666;
  font-size: 13px;
  font-weight: 600;
}

.wrapper form .item .card input {
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
  font-size: 20px;
  color: #333;
}

.wrapper form .item .card input::-webkit-input-placeholder {
  color: #333;
  text-align: center;
}

.wrapper form .item .card input::-moz-placeholder {
  color: #333;
  text-align: center;
}

.wrapper form .item .card input:-ms-input-placeholder {
  color: #333;
  text-align: center;
}

.wrapper form .item .card input::-ms-input-placeholder {
  color: #333;
  text-align: center;
}

.wrapper form .item .card input::placeholder {
  color: #333;
  text-align: center;
}

.wrapper form .item .card input:focus {
  border-color: #49924D;
}

.wrapper form .item .card input[type=number],
.wrapper form .item .card input[type=number]::-webkit-outer-spin-button,
.wrapper form .item .card input[type=number]::-webkit-inner-spin-button {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}

.wrapper form .item .card-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}

.wrapper form .item .card-top .brand {
  text-align: right;
}

.wrapper form .item .card-top .brand img {
  margin-right: -15px;
  height: 100%;
}

.wrapper form .item .card-top .number {
  margin-top: auto;
}

.wrapper form .item .card-top .number input {
  width: 100%;
}

.wrapper form .item .card-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}

.wrapper form .item .card-bottom input {
  width: 55px;
  text-align: center;
}

.wrapper form .item .card-bottom .date {
  width: 65%;
}

.wrapper form .item .card-bottom .date p {
  line-height: 24px;
}

.wrapper form .item .card-bottom .cvv p {
  line-height: 22px;
}

.wrapper form .item .card-bottom .cvv p .question {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #666;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.wrapper form .form-group {
  margin-top: 15px;
  font-weight: 600;
  color: #999;
}

.wrapper form .form-group > div {
  position: relative;
}

.wrapper form .form-group > div span {
  position: absolute;
  font-size: 20px;
  top: 9px;
  right: 10px;
}

.wrapper form .form-group label {
  font-size: 14px;
}

.wrapper form .form-group label span {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #999;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.wrapper form .form-group input {
  padding: 10px 15px;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  outline: none;
}

.wrapper form .form-group input[type=number],
.wrapper form .form-group input[type=number]::-webkit-outer-spin-button,
.wrapper form .form-group input[type=number]::-webkit-inner-spin-button {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}

.wrapper form .form-group input[type=submit] {
  border: none;
  text-align: center;
  color: #fff;
  background-color: #49924D;
  cursor: pointer;
}

.wrapper form .form-group input:not([type=checkbox]) {
  width: 100%;
}

.wrapper form .form-group input::-webkit-input-placeholder {
  color: #999;
}

.wrapper form .form-group input::-moz-placeholder {
  color: #999;
}

.wrapper form .form-group input:-ms-input-placeholder {
  color: #999;
}

.wrapper form .form-group input::-ms-input-placeholder {
  color: #999;
}

.wrapper form .form-group input::placeholder {
  color: #999;
}

.wrapper form .form-group textarea {
  padding: 10px 15px;
  margin-top: 5px;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  outline: none;
  width: 100%;
  resize: none;
  display: none;
}

@media screen and (max-width: 992px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wrapper form .item {
    width: -webkit-calc(83.33333% - 30px);
    width: calc(83.33333% - 30px);
    margin-left: -webkit-calc(8.33333% + 15px);
    margin-left: calc(8.33333% + 15px);
    margin-right: -webkit-calc(8.33333% + 15px);
    margin-right: calc(8.33333% + 15px);
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wrapper form .item {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    margin-left: -webkit-calc(0% + 15px);
    margin-left: calc(0% + 15px);
    margin-right: -webkit-calc(0% + 15px);
    margin-right: calc(0% + 15px);
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*# sourceMappingURL=main.css.map */
